<!DOCTYPE html>
<html>
	{{
		include(
			"header.isa",
			{
				title: "404 mayax"
			}
		)
	}}
	<body>

		<header id="gtco-header" class="gtco-cover" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-5 text-center header-img animate-box">
										<img src="images/cube_.png" alt="Free HTML5 Website Template by FreeHTML5.co">
									</div>
									<div class="col-md-7 copy animate-box">
										<h1>Mayax WhatsApp.</h1>
										<p>Powered by <a href="http://www.doitcloudconsulting.mx" target="_blank" style="color: #fff"><b>DoIT Cloud Consulting</b></a></p>
										<p><a href="http://www.doitcloudconsulting.mx" target="_blank" class="btn btn-white">Visit Us</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		{{
			include(
				"footer.isa"
			)
		}}
	</body>
</html>